@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::after,
::before,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
